@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Helvetica";
  src: url("../../fonts/helvetica/Helvetica_Neu_Bold.ttf");
  src: url("../../fonts/helvetica/Helvetica_Neue_Medium.otf");
  src: url("../../fonts/helvetica/Helvetica_Neue_Roman.otf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Rubik";
  src: url("../../fonts/Rubik-Light.ttf");
  src: local("☺"), url("../../fonts/Rubik-Light.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Rubik";
  src: url("../../fonts/Rubik-Light.ttf");
  src: local("☺"), url("../../fonts/Rubik-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Rubik";
  src: url("../../fonts/Rubik-Regular.ttf");
  src: local("☺"), url("../../fonts/Rubik-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Rubik";
  src: url("../../fonts/Rubik-Medium.ttf");
  src: local("☺"), url("../../fonts/Rubik-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Rubik";
  src: url("../../fonts/Rubik-SemiBold.ttf");
  src: local("☺"), url("../../fonts/Rubik-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Rubik";
  src: url("../../fonts/Rubik-Bold.ttf");
  src: local("☺"), url("../../fonts/Rubik-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

* {
  font-family: Rubik, Helvetica, sans-serif;
  line-height: 18px;
}

html,
body {
  max-width: 100vw;
  min-height: 100%;
  overflow-x: hidden;
}

body> :first-child {
  height: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

::-webkit-scrollbar {
  display: none;
}

[type='text'],
[type='email'],
[type='url'],
[type='password'],
[type='number'],
[type='date'],
[type='datetime-local'],
[type='month'],
[type='search'],
[type='tel'],
[type='time'],
[type='week'],
[multiple],
textarea,
select {
  border: none;
  line-height: inherit;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}